body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.header {
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;

    border: 1px solid #ececec;
}
.logo1 {

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;

}
.logo2 {
    color: #000000;    
  
}

.logo3 {
    color: #ffffff;    
}
.nav,.contacts {
    display: inline-block;
    

    list-style-type: none;
}
.top1 {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    text-decoration: none;
    color: #212121; 
}
.top2 {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    text-decoration: none;
    color: #212121;    
}
.top3 {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    text-decoration: none;    
    color: #212121;   
}
.top4 {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    text-decoration: none;     
    color: #757575;
        
}
.top5 {
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    text-decoration: none;
    color: #757575;    
}
.top1:hover,
.top2:hover,
.top3:hover,
.top4:hover,
.top5:hover,
.top1:focus,
.top2:focus,
.top3:focus,
.top4:focus,
.top5:focus {
    color: #2196f3;
  }
