body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.header {


    border: 1px solid #ececec;
}
.logo1 {

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;

}
.logo2 {
    color: #000000;    
  
}

.logo3 {
    color: #ffffff;    
}
.nav,.contacts {
    display: inline-block;
    

    list-style-type: none;
}
.top1 {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    text-decoration: none;
    color: #212121; 
}
.top2 {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    text-decoration: none;
    color: #212121;    
}
.top3 {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    text-decoration: none;    
    color: #212121;   
}
.top4 {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    text-decoration: none;     
    color: #757575;
        
}
.top5 {
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    text-decoration: none;
    color: #757575;    
}
.top1:hover,
.top2:hover,
.top3:hover,
.top4:hover,
.top5:hover,
.top1:focus,
.top2:focus,
.top3:focus,
.top4:focus,
.top5:focus {
    color: #2196f3;
  }
  .check-mark{
    position: absolute; white-space: nowrap; width: 1px; height: 1px; overflow: hidden; border: 0; padding: 0; clip: rect(0 0 0 0); clip-path: inset(50%); margin: -1px;
}
.icon-box{
    width: 16px;
    height: 15px;
    fill: #2196f3;
    border: 2px solid #000;
    border-radius: 4px;
    padding: 0%;
    margin-right: 7px;
    cursor: pointer;
    transition: fill 250ms var(--timing-cubic), background-color 250ms var(--timing-cubic), border 250ms var(--timing-cubic);
}
.check-mark:checked + .icon-box{
    fill: var(--background-color);
    background-color: var(--background-color);
    border: 0px solid transparent;
}
.contract-selectio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 0;
}
.text-box {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.treaty{
    color: var(--background-color);
    text-decoration: underline;
}
.button-modal-form {
    text-align: center;
    border-radius: 4px;
    background-color: var(--background-color);
    padding: 10px 52px;
    font-size: 16px;
    line-height: 1.875;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--active-color);
    border: none;
    cursor: pointer;
    font-weight: 700;
    transition: box-shadow 250ms var(--timing-cubic), background-color 250ms var(--timing-cubic);
}
.button-modal-form:hover,
.button-modal-form:focus {
    background-color: var(--button-active);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.mailing-list {
    margin-left: 93px;
}
.text-footer {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    background-color: transparent;
    width: 358px;
    margin-right: 12px;
    color: var(--active-color);
    cursor: pointer;
}
.text-footer:focus {
    outline: none;
}